.ships {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.ships__ship {
  border: 1px solid black;
  padding: 10px;
}

.hit {
  background-color: red;
}

.destroyed {
  background-colour: blue;
}