@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  color: whitesmoke;
  font-family: $font-display;
}

.h2 {
  font-size: 0.8em;
}

.p {
  font-size: 0.5em;
}